# Auto detect text files and perform LF normalization
* text=auto
*.uasset filter=lfs diff=lfs merge=lfs -text
F:\School\Part3\SummerAssigment-GP21\Assignment_Build filter=lfs diff=lfs merge=lfs -text
